:root{
    --cyan: hsl(185, 75%, 39%);
    --desat-blue: hsl(229, 23%, 23%);
    --dark-gray-blue: hsl(227, 10%, 46%);

    --gray: hsl(0, 0%, 59%);

    font-family: Kumbh Sans;
    background-color: var(--cyan);
    overflow:hidden;
}

#vicpic{
    border-radius: 50px;
    position:absolute;
    right:calc(50% - 48px);
    top:  calc(60% - 48px);
    border: 5px solid white;
}
.card{
    height: 200px;
    width: 250px;
    margin:200px auto;
    position: relative;
}

.background{
    height:60%;
    background-image:url("images/bg-pattern-card.svg");
    border-radius: 10px 10px 0 0;
}

.info{
    height: 30%;
    background-color: white;
    text-align:center;
    padding-top:30%;
}
.stats{
    height: 20%;
    background: white;
    border-top: 1px solid var(--gray);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-around;
    padding:20px;
}

.bold{
    font-weight:700;
}

.centered{
    text-align:center;
}
.smalltext{
    color: var(--gray);
    font-size: 9px;
}

#topbubble{
    position:absolute;
    right:50%;
    top:-400px;

}
#bottombubble{
    position:absolute;
    left: 50%;
    top:300px;
}